
.about{
   display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    flex-grow: calc(1);
    flex-shrink: calc(1);
    flex-basis: calc(100%);
    margin-top: 15%;
   


}

.btn-77,
.btn-77 *,
.btn-77 :after,
.btn-77 :before,
.btn-77:after,
.btn-77:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-77 {
  -webkit-tap-highlight-color: 
transparent;
  background-color: 
#9dd3ea;
  background-image: none;
  color: 
#1c1e1f;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
 
  padding: 0;
}
.btn-77:disabled {
  cursor: default;
}
.btn-77:-moz-focusring {
  outline: auto;
}
.btn-77 svg {
  display: block;

}
.btn-77 [hidden] {
  display: none;
}
.btn-77 {
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
  
  border-radius: 999px;
  box-shadow: 0 0 0 4em 
transparent;
  box-sizing: border-box;
  display: block;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin: 0;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
  width: 100%;
  justify-content: center; 
  align-items: center;
  display: flex;
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 
#0429ff;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 
#04e2f6;
  }
}